<nav>
    <div class="site-title">
        <a href="/blogs"><h1>Blog Coms</h1></a>
        <p>A Net Coms Site</p>
    </div>
    <ul>
        <li class="navbar"><a href="/about">About</a></li>
        <li class="navbar"><a href="/blogs">Blogs</a></li>
        <li class="navbar"><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>